
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    font-family: Barlow;
    background: #f8f4f4;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column; /* Elemanları dikeyde sıralar */
    justify-content: center; /* Dikeyde ortalama */
    align-items: center; /* Yatayda ortalama */
}
@media only screen and (max-width: 768px) {
    .mobileClass {
        margin-top: 100px !important;
    }
}
.primary-button {
    margin-top: 20px;
    padding: 8px 40px;
    border-radius: 8px;
    display: block;
    justify-content: center;
    align-items: center;
    background: #00D6A3;
    border: 2px solid #0dc99d !important;
    transition: 0.3s;
    font-weight: 600;
    color: #3a3636;
    font-size: 20px;
    margin-bottom: 20px;
}

.btn-navbar {
    padding: 8px 40px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #00D6A3;
    width: max-content;
    border: 2px solid #0dc99d !important;
    transition: 0.3s;
    font-weight: 600;
    color: #3a3636;
    font-size: 20px;
    margin-left: 10px;
}

.modal-btn {
    margin-top: 20px; /* Container'ın altından boşluk */
    display: block;
    padding: 8px 40px;
    border-radius: 8px;
    background: white;
    border: 2px solid #00D6A3 !important;
    transition: 0.3s;
    font-weight: 600;
    color: #3a3636;
    font-size: 20px;
    margin-bottom: 20px;
}


.modal-btn:hover {
    transform: translateY(-10px);
    border: 2px solid #0dc99d !important;
    color: #3a3636;
    background: #00D6A3;
}

.btn-navbar:hover {
    transform: translateX(10px);
    border: 2px solid #00D6A3 !important;
    color: #3a3636;
    background-color: white;
}

.primary-button:hover {
    transform: translateY(-10px);
    border: 2px solid #00D6A3 !important;
    color: #3a3636;
    background-color: white;
}
@media only screen and (max-width: 768px) {
    .leftSide {
        display: none !important;
    }

    .mobileClass {
        margin-top: 100px !important;
    }

    body {
        overflow: auto !important;
    }

    .arrowBoxRight {
        background: #00d6a467;
    }

    .stdimg {
        width: 100% !important;
        margin: auto;
        margin-left: 0px !important;
    }
}

.customizedNavbar {
    position: fixed; /* Navbarı üstte sabitler */
    top: 0; /* Sayfanın en üst kısmına yerleştirir */
    left: 0;
    width: 100%; /* Tüm genişliği kaplar *//* Diğer içeriklerin önünde görünmesi için */
    padding: 20px 0; /* Yukarı ve aşağı boşluk */
    background: #fefeff;
    z-index: 1000;
}


.centered-container {

        overflow-y: auto;
        display: flex;
        flex-direction: column; /* Elemanları dikey hizala */
        align-items: center; /* Yatayda ortala */
        min-height: 100vh;
        border: 2px solid rgba(255, 255, 255, 0.8); /* Saydam border */
        border-radius: 15px;
        backdrop-filter: blur(10px); /* Blur efekti */
        background: rgba(255, 255, 255, 0.2); /* Saydam beyaz arka plan */
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Hafif gölge efekti */
        overflow-y: auto;   /* Yüksek içerik için kaydırma çubuğu */
        max-height: 90vh;    /* Container'ın yüksekliği ekranın %90'ı kadar */
        margin-top: 500px;    /* Üst kısımdan boşluk bırakmak */
        max-width: 750px;
        padding: 20px;

}
.centered-container h2 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin: 0;
}
.button-group {
    display: flex;
    justify-content: center;
    gap: 15px; /* Butonlar arasındaki boşluk */
    margin-top: 15px;

}

.modal-backdrop {
    background-color: rgba(0, 0, 0, 0.5) !important;  /* Gri arka plan */
    backdrop-filter: blur(8px);  /* Arka plan bulanıklaşacak */
}

.modal-content {
    background-color: #ffffff;  /* Modal içeriği beyaz */
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);  /* Modal'ın gölgesi */
}

/* Modal içindeki liste öğeleri */
.list-group-item {
    cursor: pointer;
}

.list-group-item:hover {
    background-color: #f1f1f1;
}
@media only screen and (max-width: 768px) {
    body {
        flex-direction: column; /* Mobil görünümde gerekirse elemanlar dikey hizalanır */
        overflow: auto !important; /* Mobilde kaydırmayı aktif eder */
    }

    .centered-container {
        gap: 10px;
        padding: 15px 20px; /* Mobilde daha az padding */
    }
}
